
{{ $currentNode := . }}
{{ $showvisitedlinks := .Site.Params.showVisitedLinks }}

{{range .Site.Sections.ByWeight.Reverse}}
  {{ if eq .Type  "documentation" }}
    <ul class="doctree fa-ul">
      {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
    </ul>
  {{ end }}
{{end}}


<!-- templates -->
{{ define "section-tree-nav" }}

{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{ with .sect }}
  {{ if .IsSection }}
    {{ safeHTML .Params.head }}

    {{ .Scratch.Set "li_icon" "circle-o" }}
    {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{ if ne $numberOfPages 0 }}
      {{ if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
        {{ .Scratch.Set "li_icon" "fa-minus-square-o" }}
      {{ else }}
        {{ .Scratch.Set "li_icon" "fa-plus-square-o" }}
      {{ end }}
    {{ end }}
    {{ $liIcon := (.Scratch.Get "li_icon") }}

    <li data-nav-id="{{.URL}}" class="dd-item 
        {{if .IsAncestor $currentNode }}parent{{end}}
        {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}
        {{if .Params.alwaysopen}}parent{{end}}
        ">

      <i class="fa-li fa fa-fw {{$liIcon}} "></i>


      <a href="{{ .RelPermalink}}">
        <span>{{ safeHTML .Params.Pre }}{{ .Title }}{{ safeHTML .Params.Post }}</span>


<!--         {{ if ne $numberOfPages 0 }}
          {{ if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
            <i class="fa fa-angle-down fa-lg category-icon"></i>
          {{ else }}
            <i class="fa fa-angle-right fa-lg category-icon"></i>
          {{ end }}
        {{ end }}
 -->
      </a>
      {{ if ne $numberOfPages 0 }}
        <ul class="fa-ul">
          {{ .Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
          {{ end }}
          {{ $pages := (.Scratch.Get "pages") }}
          
        {{ if eq .Site.Params.ordersectionsby "title" }}
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{ else }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{ end }}
          {{ end }}
        {{ else }}
          {{ range $pages.ByWeight }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{ else }}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{ end }}
          {{ end }}
        {{ end }}
        </ul>
      {{ end }}
    </li>

  {{ else }}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.URL}}" class="dd-item {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}">
        <i class="fa-li fa fa-circle-o"></i>
        <a href="{{ .RelPermalink }}">
        <span>{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</span> 
        {{ if $showvisitedlinks }}<i style="color:grey" class="fa fa-circle-thin read-icon"></i>{{ end }}
        </a></li>
     {{ end }}
  {{ end }}
{{ end }}

{{ end }}
