/* ------------------------------------------------------------- *
 *  Landing page styling
/* ------------------------------------------------------------- */
  
.btn-group-lg > .btn, .btn-lg {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.bd-text-turquoise-bright {
    color: #2a6783;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
}

/* Buttons 'Get Started' and 'Download' on landing page */

.btn-outline-primary {
  color: #2a6783;
  border-color: #2a6783;
  font-weight: 500;
}

.btn-outline-primary:active, .btn-outline-primary:hover {
  color: #fff;
  background-color: #2a6783;
  border-color: #2a6783;
}

/* Logo container */

.page-brand {
    background-color: #f6f8f8;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Container with main features */

.page-features {
  margin-top: 40px;
  text-align:center;
}

/* color of active tab in nav-pils style */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color:#2a6783;
}

.btn-primary.ba-custom{
  background-color:#2a6783;
  border-color: #2a6783;
}

.border-primary.ba-custom-border{
  border-color: #2a6783 !important;
}

/* Styling for download page */
.page-download {
  margin-top: 2rem;
  text-align:center;
}

.page-download hr.feature-divider {
  margin: 2rem auto 0.25rem auto;
  max-width: 200px;
}

