/* ------------------------------------------------------------- *
 *  Landing page styling
/* ------------------------------------------------------------- */
  
/* logo font */

a.navbar-brand {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
  font-weight: 500;
}
.btn-group-lg > .btn, .btn-lg {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.bd-text-turquoise-bright {
    color: #2a6783;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
}

/* Buttons 'Get Started' and 'Download' on landing page */

.btn-outline-primary {
  color: #2a6783;
  border-color: #2a6783;
  font-weight: 500;
}

.btn-outline-primary:active, .btn-outline-primary:hover {
  color: #fff;
  background-color: #2a6783;
  border-color: #2a6783;
}

/* Logo container */

.page-brand {
    background-color: #f6f8f8;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Container with main features */

.page-features {
  margin-top: 40px;
  text-align:center;
}

.page-multilayer {
  background-color: #f6f8f8;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.featurette-heading {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

/* ------------------------------------------------------------- *
 *  Styling for download page
/* ------------------------------------------------------------- */

/* color of active tab in nav-pils style */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color:#2a6783;
}

.btn-primary.ba-custom{
  background-color:#2a6783;
  border-color: #2a6783;
}

.border-primary.ba-custom-border{
  border-color: #2a6783 !important;
}

.page-download {
  margin-top: 0rem;
  text-align:center;
}

.page-download hr.feature-divider {
  margin: 0.0rem auto 1rem auto;
  max-width: 200px;
}

/* ------------------------------------------------------------- *
 * Styling contact page
/* ------------------------------------------------------------- */

.page-contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.page-contact span.fa-github {
  margin-right: 0.3em;
  font-size: 125%;
}

.page-contact span.fa-envelope-o {
  margin-right: 0.5em;
}

.page-contact h4 a {
  color: #404040;
}

.page-contact h4 a:hover, a:focus {
  color: grey;
}

.page-contact h2, h4 {
  font-weight: 400;
}

/* ------------------------------------------------------------- *
 * Styling about page
/* ------------------------------------------------------------- */

.page-about {
  text-align:center;
}

/* ------------------------------------------------------------- *
 *  styling examples page
/* ------------------------------------------------------------- */

a.card-context {
  color: #404040;
  text-decoration: none;
}

/* ------------------------------------------------------------- *
 *  documentation sidebar
/* ------------------------------------------------------------- */

ul.doctree li.active, ul.doctree li.active > a {
  color: #2a7283 !important;
}