<div class="container">
  <div class="d-flex flex-column flex-md-row justify-content-center">
    <div class="mx-5 align-self-center">
      <a href="http://sine2020.eu/"><img src="/assets/img/sine2020-logo.svg" alt="" height=80></a>
    </div>
    <div class="mx-5 align-self-center">
      <a href="http://www.mlz-garching.de"><img src="/assets/img/mlz-logo.png" alt="" height=70> </a>
    </div>
    <div class="mx-5 align-self-center">
      <a href="http://www.fz-juelich.de"><img src="/assets/img/juelich-logo.png" alt="" height=60> </a>
    </div>
    <div class="mx-5 align-self-center">
      <a href="https://europeanspallationsource.se/"><img src="/assets/img/ess-logo.svg" alt="" height=80></a>
    </div>
  </div>
</div>
