{{- .Scratch.Set "current" .Page }}

{{- if (.Get 0)}}
	{{- with .Site.GetPage "section" (.Get 0) }}
		{{- $.Scratch.Set "current" . }}
	{{- end }}
{{- end }}

{{- $cpage := (.Scratch.Get "current") }}

<div class="d-flex flex-column mt-3 mb-4">
  {{- range $cpage.Pages }}
    <div class="card h-100 my-1">
      <a href = "{{.Permalink}}" class="card-context">
        <div class="card-body">
          <div class="row">
            {{- $resources := (.Resources.ByType "image") }}
              {{- range first 2 $resources }} 
                {{- $original := . }}
                {{- $image := ($original.Resize "256x") }}
                <div class="col my-auto">
                  <img class="img-fluid" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
                </div>
              {{- end }}
            {{- if eq (len $resources) 1 }}
              <div class="col"></div>
            {{- end}}            
            <div class="col-8 text-center">
              <h6 > {{- .Title }} </h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{- end}}
</div>
