<div class="d-flex flex-column my-3">

  {{- range .Page.Pages }}
    <div class="card h-100 my-1">
      <a href = "{{.Permalink}}" class="card-context">
        <div class="card-body">
          <div class="row">
            {{- with .Resources.ByType "image" }}
              {{- range . }} 
                {{- $original := . }}
                {{- $image := ($original.Resize "256x") }}
                <div class="col">
                  <img class="img-fluid" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
                </div>
              {{- end }}
            {{- end }}
            <div class="col-8 text-center">
              <h6 > {{- .Title }} </h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{- end}}
</div>
    
    